.circle {
  position: absolute;
  height: calc(2rem + 5vw);
  width: calc(2rem + 5vw);
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 0 2px rgb(186, 186, 186);
  transition: all 0.1s ease;
  z-index: -1;
}
