@import "./variables";
.main_nav.clear {
  left: -30vw;
}

.hamburger {
  margin-left: 2vw;
  margin-top: 2vh;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  .x {
    position: absolute;
  }
  &:hover {
    .hl {
      background-color: $darker-text-color;
    }
  }
  .hl {
    width: calc(4rem + 1.5vw);
    height: calc(0.5rem + 0.5vh);
    margin-top: 1vh;
    background-color: $main-text-color;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    &.clicked {
      transform: rotate(45deg);
    }
    &.dissapear {
      opacity: 0;
    }
  }
  .hl3.clicked {
    transform: rotate(-45deg);
  }
}

.main_nav {
  position: absolute;
  left: 0px;
  transition: left 0.3s ease-in-out;
  height: 100vh;
  width: 30vw;
  background-color: $nav-bg-color;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    li {
      list-style: none;
      a {
        transition: color 0.5s ease;
        font-size: calc(1rem + 1vw);
        text-decoration: none;
        color: $main-text-color;
        &:hover {
          color: $darker-text-color;
        }
      }
    }
  }
}
