@import "./variables";
@import "./nav";
@import "./customCursor";

html {
  scroll-behavior: smooth;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
  background-image: url(../svgs/main-background.svg);
  background-repeat: repeat-y;
  background-size: 125%;
  font-size: 62.5%;
}

.rest_of_page {
  color: $main-text-color;
  position: absolute;
  width: 70vw;
  left: 30vw;
  height: 100vh;
  transition: all 0.5s ease;
  &.nav_open {
    margin-left: 30vw;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  .appear-first {
    margin-top: 10vh;
    margin-bottom: 100vh;
    .name {
      margin-bottom: 10vh;
      display: flex;
      font-size: calc(2rem + 2vw);
      #s {
        transition: font-size 0.4s ease;
        &:hover {
          color: rgb(230, 193, 123);
          font-size: 1.5em;
        }
      }
    }
    .sub-name,
    .sd {
      margin-left: 15vw;
      font-size: calc(1.25rem + 2vw);
    }
    .sd {
      transition: color 0.4s ease;
      margin-bottom: 10vh;
      &:hover {
        color: lightblue;
      }
    }
  }
  .appear-further-down {
    padding-bottom: 20vh;
    .skills {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        .logo {
          margin-right: 10px;
          height: calc(5rem + 5vw);
          width: calc(5rem + 5vw);
          border-radius: 50%;
          &:hover {
            box-shadow: 0 0 10px 10px $nav-bg-color;
          }
        }
        .js_logo {
          padding: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
