$main-bg-color: #435f8c;
$main-text-color: #e3e4e6;
$darker-text-color: #c1c1c1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
}

.clear {
  display: none;
}

.hamburger {
  cursor: pointer;
  &:hover {
    .hl {
      background-color: $darker-text-color;
    }
  }
  .hl {
    width: 50px;
    height: 7px;
    margin-top: 6px;
    background-color: $main-text-color;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
  }
}
